p {
    color: #777;
}

body {
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
}

input {
    font-family: 'Montserrat', sans-serif;
}
#app{
  background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(235,235,235,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=0 );
}

#owl-hero .item {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#owl-hero .item .caption {
    position: absolute;
    top: 50%;
    margin-top: -104px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 15;
}

#owl-hero .item .caption h1 {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 300%;
}

#owl-hero .item .caption h1 span {
    font-weight: 700;
}

#owl-hero .item .caption h6 {
    color: white;
    margin: 0;
}

#owl-hero .item .caption h1 {
    color: white;
}

#owl-hero .owl-pagination {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    bottom: 5%;
}

#owl-hero .owl-pagination .owl-page.active span {
    background: #fff;
}

#owl-hero .owl-pagination .owl-page span {
    border: 2px solid #fff;
    border-radius: 50%;
    background: transparent;
    opacity: 1;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#owl-hero .owl-buttons div {
    background: #fff;
    font-size: 24px;
    color: #a3a3a3;
    opacity: 1;
}

#owl-hero .owl-buttons .owl-prev {
    left: -60px;
}

#owl-hero .owl-buttons .owl-next {
    right: -60px;
}

#owl-hero .owl-buttons .owl-next,
#owl-hero .owl-buttons .owl-prev {
    position: absolute;
    background: #fff;
    top: 50%;
    height: 51px;
    width: 51px;
    line-height: 45px;
    border-radius: 0;
    border: 1px solid #fff;
    z-index: 20;
    text-align: center;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#owl-hero:hover .owl-prev {
    left: -5px;
}

#owl-hero:hover .owl-next {
    right: -5px;
}

.owl-dots {
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 5%;
}
//navbar components

.navbar {
    opacity: 0.9;
    border-radius: 0;
    font-size: 17px;
    color: white;
    z-index: 3;
    position: fixed;
    width: 100%;
    background-color: #212121;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#212121, endColorstr=#707070);
    background-image: -moz-linear-gradient(right, #212121 0%, #707070 50%,#212121 100%);
    background-image: linear-gradient(right, #212121 0%, #707070 50%,#212121 100%);
    background-image: -webkit-linear-gradient(right, #212121 0%, #707070 50%,#212121 100%);
    background-image: -o-linear-gradient(right, #212121 0%, #707070 50%,#212121 100%);
    background-image: -ms-linear-gradient(right, #212121 0%, #707070 50%,#212121 100%);
    background-image: -webkit-gradient(linear, right bottom, left bottom, color-stop(0%,#212121), color-stop(50%,#707070),color-stop(100%,#212121));
    margin: 0 0 50px;
}

.navbar-brand img {
    width: 150px;
}

.nav {
    text-align: center;
    color: white;
}
@media (min-width: 767px) {
    .navbar-collapse {
        float: right;
    }
}
@media (max-width: 767px) {
    .nav {
        padding: 15px 0;
    }
}
@media (max-width: 767px) {
    .nav {
        padding: 15px 0;
    }

    .button {
        text-align: right;
    }

    iframe {
        height: 300px;
    }
}

.events {
    margin: 0;
    padding: 0;
    width: 100%;

    .progressbar-progress {
        background: #FFCDD2 !important;
    }

    .col-md-6 {
        padding: 8% 5%;
        margin: 0;
    }

    .register {
        background-color: #ffd5d5;
    }

    .photo {
        height: inherit;
        background-size: cover;
    }

    .row {
        width: 100%;
        margin: 0;
    }

    .upcoming {
        font-size: 85%;
        letter-spacing: 6px;
        padding-left: 8px;
    }

    .event-date {
        padding-left: 7px;
        font-size: 118%;
    }

    .content {
        background-color: #EF5350;
        color: white;
    }

    .all-events {
        padding: 3%;
        background-color: #a2b539;
        color: white;

        .text {
            text-align: right;
            padding: 15px;
        }
    }

    .change {
        background-color: #558057;
        color: white;
        border-width: 2px;
        padding: 15px;
        border-style: solid;
        border-color: white;
        font-weight: bold;
    }
}

.about {
    margin: 0;
    width: 100%;

    .image {
        position: relative;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .text {
        padding: 5%;

        p {
            font-style: italic;
            font-size: 15px;
        }

        .paragraphs {
            font-style: italic;
            color: #7c7c7c;
            font-size: 15px;
        }
    }
}

.newsLetter {
    padding: 5%;
    margin: 0;
    width: 100%;
    background: #683a56;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #683a56 0%, #683a56 50%, #7d4061 51%, #ce6f75 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #683a56 0%,#683a56 50%,#7d4061 51%,#ce6f75 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #683a56 0%,#683a56 50%,#7d4061 51%,#ce6f75 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#683a56', endColorstr='#ce6f75',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    .heading {
        color: white;
        font-weight: bold;
        letter-spacing: 6px;
    }

    .text {
        color: white;
        padding-bottom: 4%;
    }

    .input {
        background: transparent;
        height: 56px;
        color: white;
        font-weight: bold;
        font-size: 110%;
        border-width: 3px;
        border-style: solid;
        border-color: white;
    }
}

.paddingTop {
    padding-top: 80px;
}
//userPageStyles
.user-page {
    width: 70%;
    padding-top: 60px;


    .profile-segment {
        text-align: center;
        background: rgba(252,213,114,1);
        padding: 20px;
        color: white;
        background: -moz-linear-gradient(left, rgba(252,213,114,1) 0%, rgba(244,86,107,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,213,114,1)), color-stop(100%, rgba(244,86,107,1)));
        background: -webkit-linear-gradient(left, rgba(252,213,114,1) 0%, rgba(244,86,107,1) 100%);
        background: -o-linear-gradient(left, rgba(252,213,114,1) 0%, rgba(244,86,107,1) 100%);
        background: -ms-linear-gradient(left, rgba(252,213,114,1) 0%, rgba(244,86,107,1) 100%);
        background: linear-gradient(to right, rgba(252,213,114,1) 0%, rgba(244,86,107,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#fcd572', endColorstr='#f4566b', GradientType=1 );

        .profile-pic {
            border-style: solid;
            border-width: 20px;
            border-color: white;
        }

        .profile-name {
            padding: 10px;
        }
    }

    .xp-segment {
        text-align: center;
        height: inherit;
        background: rgba(244,85,106,1);
        background: -moz-linear-gradient(left, rgba(244,85,106,1) 0%, rgba(168,37,37,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(244,85,106,1)), color-stop(100%, rgba(168,37,37,1)));
        background: -webkit-linear-gradient(left, rgba(244,85,106,1) 0%, rgba(168,37,37,1) 100%);
        background: -o-linear-gradient(left, rgba(244,85,106,1) 0%, rgba(168,37,37,1) 100%);
        background: -ms-linear-gradient(left, rgba(244,85,106,1) 0%, rgba(168,37,37,1) 100%);
        background: linear-gradient(to right, rgba(244,85,106,1) 0%, rgba(168,37,37,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#f4556a', endColorstr='#a82525', GradientType=1 );

        .xp-count {
            font-size: 140px;
            color: white;
            padding-top: 25%;
        }

        .xp-point {
            color: white;
            font-weight: 900;
            font-size: 25px;
            letter-spacing: 11px;
            position: relative;
            top: -47px;
        }
    }

    .event-registered-segment {
        text-align: center;
        padding: 30px;
        background: rgba(14,235,217,1);
        background: -moz-linear-gradient(left, rgba(14,235,217,1) 0%, rgba(105,105,240,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(14,235,217,1)), color-stop(100%, rgba(105,105,240,1)));
        background: -webkit-linear-gradient(left, rgba(14,235,217,1) 0%, rgba(105,105,240,1) 100%);
        background: -o-linear-gradient(left, rgba(14,235,217,1) 0%, rgba(105,105,240,1) 100%);
        background: -ms-linear-gradient(left, rgba(14,235,217,1) 0%, rgba(105,105,240,1) 100%);
        background: linear-gradient(to right, rgba(14,235,217,1) 0%, rgba(105,105,240,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#0eebd9', endColorstr='#6969f0', GradientType=1 );

        .event-registered {
            font-size: 140px;
            color: white;
        }


        .event {
            color: white;
            font-weight: 900;
            font-size: 25px;
            letter-spacing: 11px;
            position: relative;
            top: -47px;
        }
    }

    .id-segment {
        height: inherit;
        text-align: center;
        background: rgba(105,105,240,1);
        background: -moz-linear-gradient(left, rgba(105,105,240,1) 0%, rgba(9,9,153,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(105,105,240,1)), color-stop(100%, rgba(9,9,153,1)));
        background: -webkit-linear-gradient(left, rgba(105,105,240,1) 0%, rgba(9,9,153,1) 100%);
        background: -o-linear-gradient(left, rgba(105,105,240,1) 0%, rgba(9,9,153,1) 100%);
        background: -ms-linear-gradient(left, rgba(105,105,240,1) 0%, rgba(9,9,153,1) 100%);
        background: linear-gradient(to right, rgba(105,105,240,1) 0%, rgba(9,9,153,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#6969f0', endColorstr='#090999', GradientType=1 );

        .id-text {
            font-weight: 900;
            font-size: 25px;
            letter-spacing: 11px;
            color: white;
        }

        .id {
            color: white;
            font-weight: 900;
            font-size: 40px;
            letter-spacing: 2px;
            padding-top: 93px;
        }
    }


    .profile-completion{
      padding:10px;
      background: rgba(105,240,186,1);
background: -moz-linear-gradient(left, rgba(105,240,186,1) 0%, rgba(0,143,74,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(105,240,186,1)), color-stop(100%, rgba(0,143,74,1)));
background: -webkit-linear-gradient(left, rgba(105,240,186,1) 0%, rgba(0,143,74,1) 100%);
background: -o-linear-gradient(left, rgba(105,240,186,1) 0%, rgba(0,143,74,1) 100%);
background: -ms-linear-gradient(left, rgba(105,240,186,1) 0%, rgba(0,143,74,1) 100%);
background: linear-gradient(to right, rgba(105,240,186,1) 0%, rgba(0,143,74,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69f0ba', endColorstr='#008f4a', GradientType=1 );
      color:white;
      .move-right{
        text-align: right;
        font-size: 28px;
        padding:3px;
      }
      .buttonExpand{
        width: inherit;
        height: inherit;
        background: transparent;
        border-width: 3px;
        border-style: solid;
        border-color: white;
        color:white;
      }
      .circle{
        border:4px white solid;
        border-radius:20px;
        padding:6px;
      }
    }
    .event-segment{
      padding:10px;
      background: rgba(177,131,247,1);
background: -moz-linear-gradient(left, rgba(177,131,247,1) 0%, rgba(115,27,166,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(177,131,247,1)), color-stop(100%, rgba(115,27,166,1)));
background: -webkit-linear-gradient(left, rgba(177,131,247,1) 0%, rgba(115,27,166,1) 100%);
background: -o-linear-gradient(left, rgba(177,131,247,1) 0%, rgba(115,27,166,1) 100%);
background: -ms-linear-gradient(left, rgba(177,131,247,1) 0%, rgba(115,27,166,1) 100%);
background: linear-gradient(to right, rgba(177,131,247,1) 0%, rgba(115,27,166,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b183f7', endColorstr='#731ba6', GradientType=1 );
      color:white;
      .move-right{
        text-align: right;
        font-size: 28px;
      }

      .buttonExpand{
        width: inherit;
        height: inherit;
        background: transparent;
        border-width: 3px;
        border-style: solid;
        border-color: white;
        color:white;
      }
    }


    .show-all-events-registered{
      text-align: center;
      padding: 2px;
font-size: xx-large;
text-transform: uppercase;
    color: #5f5f5f;

    }

    .event-black-white{
      background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(235,235,235,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=0 );
  .btn{
    margin:3px;
  }
  .letter-spacing-up{
    letter-spacing: 7px;
  }
    }







}
@media (max-width: 767px) {
    .user-page {
        width: 100%;
    }
}



















.events-list{
  padding-top:120px;

  .heading{
    h1{
          color: #bdc8d2;
          font-size: 6.5rem;
    }
  }
  .event-component{
    margin-top:10px;
    margin-bottom: 10px;
    .date{
      text-align:center;
      background: #ffd300;
      span{
            font-size: 114px;
      }
      p{
        position:relative;
        top:-27px;
        text-transform: uppercase;
color: black;
      }
    }
    .content{
      background: #353636;
      color:white;
      text-align: center;
      align-items: left;
      h2{
        padding-top:35px;
        color:#deb801;
        text-transform: uppercase;
      }
      hr{
      border-top: 7px solid #fff;
      width:80%;

      }
      p{
        color: #dadada;
      }
    }
    .button{
        background: lightgreen;
    }
  }
}








//EventPageTest
.event-template{
  padding-top:60px;
  width: 100%;

  .title-of-event{
    text-align: center;

    padding-top:60px;
    padding-bottom:60px;
    background:#df6c5a;
    color:white;
    width:100%;
    h1{
      font-size: 53px;
      font-weight: 900;
    }
  }
  .details{
    padding-top:50px;
    background: #92bead;
    h4{
    color:white;
    font-size: 1.2rem
  }
  }
  .imp-details{
    margin-top:3px;
    padding:40px;
    padding-left: 10%;
padding-right: 10%;
    i{
      font-size: 50px;
color: #868484;
    }
    .title{
      position: relative;
top: -19px;
padding-left: 10px;
font-weight: 900;
color: #c72a2a;
    }
    .other-details{
      position: relative;
      left: 52px;
      font-size: 14px;
          top: -23px;
              width: 84%;
    }
    .button-segment{
      align-items: right;
      text-align: right;
    }
  }
}
