body {
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
}

select {
    font-family: 'Montserrat', sans-serif;
}

input {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #393c5a !important;
    flex: auto;
    justify-content: space-between;

    .navbar-brand {
        justify-content: center;
        padding-left: 60px;

        .name {
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0.8px;
            color: #ffffff;
            padding-left: 13px;
        }
    }

    .basic {
        background: transparent;
        color: white;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.7px;
        color: #ffffff;
        padding-top: 17px;
        cursor: pointer;
        border: 0 !important;
    }

    i {
        color: white;
        font-size: 23px;
        padding-right: 10px;
    }

    .image {
        border-radius: 80px;
        margin-left: 18px;
        margin-right: 28px;
        margin-top: 4px;
    }
    .image2 {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 4px;
        width: 24px;
    }

    .button-content {
        padding-right: 23px;
    }

    .start-selling {
        width: 200px;
        height: 50px;
        border-radius: 4px;
        background-color: #f07cb1;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.7px;
        color: #ffffff;
        border: 0 !important;
    }

    .login {
        font-size: 15px;
        letter-spacing: 0.7px;
        color: #ffffff;
        background: transparent;
        border: 0;
        padding-left: 32px;
    }
}

.modal-body {
        padding: 11% 7% 7% 9% !important;
    justify-content: center;

    h1 {
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 1.4px;
        text-align: center;
        color: #323846;
        margin-bottom: 37px;
    }

    input {
        border-radius: 12px;
        box-shadow: inset 0 0 4px 2px #7a829a;
        padding: 17px 14px 16px 31px;
        margin-bottom: 24px;
    }

    .continue {
        border-radius: 12px;
        background-color: #f07cb1;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #ffffff;
        height: 61px;
    }

    .facebook {
        height: 61px;
        border-radius: 12px;
        background-color: #3a559f;
        width: 100%;
        color: white;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #ffffff;
        img{
          width: 25px;
          align-self: flex-start;
          margin-right:25px;

        }
    }

    .google {
        height: 61px;
        border-radius: 12px;
        background-color: #eeeeee;
        border: solid 2px #7a829a;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #7a829a;
        img{
          width: 25px;
          align-self: flex-start;
          margin-right:25px;

        }
    }

    .not-member {
        font-size: 13px;
        letter-spacing: 1.1px;
        color: #7d87ff !important;
    }

    .email {
        border: solid 2px #f07cb1;
    }
}

.header {
    width: 100%;

    .header-row {
        padding: 7% 4% 12%;

        .heading-section {
            font-size: 40px;
            font-weight: 800;
            line-height: 1.6;
            letter-spacing: 2.2px;
            color: #333846;
        }

        .see-how {
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.7px;
            color: #ffffff;
            border-radius: 4px;
            margin-top: 4%;
            border: 0;
            width: 200px;
            height: 60px;
            background-color: #f07cb1;
            box-shadow: 4px 8px 30px 0 rgba(227, 134, 219, 0.5);
        }
    }
}

.cells-container {
    width: 100%;

    .cells-row {
        padding-top: 7%;
        padding-bottom: 7%;
        background-color: #ffffff;
        box-shadow: 0 2px 15px 0 rgba(193, 212, 247, 0.34);
        margin-top: 4%;

        .cell {
            align-items: center;
            text-align: center;

            .space1 {
                margin-bottom: 54px;
            }

            .space2 {
                margin-bottom: 30px;
            }

            .heading {
                font-size: 25px;
                font-weight: 600;
                letter-spacing: 1.1px;
                text-align: center;
                color: #323846;
            }

            .description {
                padding-left: 25px;
                padding-right: 25px;
                font-size: 20px;
                font-weight: 300;
                letter-spacing: 0.9px;
                text-align: center;
                color: #7a829a;
            }
        }
    }
}

.seller-container {
    .select-row {
        border-radius: 4px;
        background-color: #7e84db;
        margin-top: 80px;
        padding: 25px 28px 25px 42.5px;

        .sort-by {
            padding-top: 2px;
            font-size: 15px;
            letter-spacing: 0.7px;
            color: #ffffff;
            font-weight: 500;
            width: 101px;
        }

        select {
            background: transparent !important;
            border: 0;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.7px;
            color: #ffffff;
        }
    }

    .seller-row {
        .owl-next,
        .owl-prev {
            opacity: 0 !important;
            background: transparent !important;
        }

        .owl-carousel:hover .owl-nav .owl-prev {
            opacity: 1 !important;
        }

        .load-more {
            width: 100%;
            height: 60px;
            border-radius: 4px;
            background-color: #babce4;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0.7px;
            text-align: center;
            color: #ffffff;
            margin-top: 60px;
        }

        .owl-carousel:hover .owl-nav .owl-next {
            opacity: 1 !important;
        }

        .card {
            padding: 0;
            border-radius: 4px;
            background-color: #ffffff;
            margin-top: 33px;
            box-shadow: 0 6px 17px 3px rgba(224, 241, 255, 0.5);

            .caraousel {
                width: 100%;
                background: black;
                height: 220px;
                border-radius:4px;

                #owl-hero {
                    height: inherit;

                    .owl-stage-outer {
                        height: inherit;

                        .owl-stage {
                            height: inherit;

                            .owl-item {
                                height: inherit;
                            }
                        }
                    }

                    .owl-dots {
                        display: none;
                    }

                    .owl-nav {
                        display: flex;
                        margin: auto;
                        top: 40%;
                        flex-direction: row;
                        position: absolute;
                        justify-content: space-between;
                        align-items: stretch;
                        width: 100%;
                    }

                    .item {
                        height: inherit;
                    }
                }
            }

            .bottom-details {
                .favourites {
                    align-self: center;

                    i {
                        padding-right: 23px;
                    }

                    .blue {
                        color: #849dff;
                    }
                }

                .orders {
                    padding: 9px 10px 7px 12px !important;
                }

                .line {
                    width: 2px;
                    height: 34px;
                    border: solid 1px #edf2f6;
                    align-self: center;
                }

                .starting-at {
                    padding: 9px 10px 7px;
                }

                .order {
                    font-size: 12px;
                    letter-spacing: 0.5px;
                    text-align: center;
                    color: #7a829a;
                    margin-bottom: 0;
                }

                .value {
                    font-size: 15px;
                    font-weight: 600;
                    letter-spacing: 0.7px;
                    text-align: center;
                    color: #393c5a;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    background-color: #393c5a;
    height: 383px;
    margin-top: 50px;
}

.card {
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 6px 14px 0 rgba(175, 203, 231, 0.5);
    width: 100%;
    margin-top: 15px;
    margin-bottom: 21px;
    text-align: center;
}

.sellerPage {
    width: 100%;
    .package{
      font-size: 20px;
font-weight: 600;
letter-spacing: 0.9px;
color: #393c5a;
    }

    .carousel-column {
        padding: 5% 4% 1%;

        .rating-section {
            padding: 23px;

            .comment {
                text-align: left;

                img {
                    border-radius: 100px;
                }

                .load-more {
                    font-size: 15px;
                    font-weight: 300;
                    letter-spacing: 0.7px;
                    color: #849dff;
                }

                .time {
                    padding: 2% 0 0;
                    text-align: right;
                    font-size: 15px;
                    font-weight: 300;
                    letter-spacing: 0.7px;
                    color: #7a829a;
                }

                .comment-info {
                    font-size: 15px;
                    font-weight: 300;
                    letter-spacing: 0.7px;
                    color: #7a829a;
                    margin-top: 13px;
                }

                .header {
                    padding: 4% 0 0;

                    .name {
                        font-size: 15px;
                        font-weight: 600;
                        letter-spacing: 0.7px;
                        color: #393c5a;
                        margin-right: 15px;
                    }

                    .line {
                        border-right: 1px solid black;
                        margin-right: 15px;
                    }

                    .stars {
                        i {
                            color: #849dff;
                            width: 18.6px;
                            margin-right: 1.5%;
                        }
                    }

                    .number {
                        font-size: 20px;
                        font-weight: 300;
                        letter-spacing: 0.9px;
                        color: #393c5a;
                    }
                }
            }

            .rating {
                align-items: flex-start;
                text-align: start;

                .total-ratings {
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: 0.9px;
                    color: #393c5a;
                }

                .stars {
                    margin-left: 20.6px;

                    i {
                        color: #849dff;
                        width: 18.6px;
                        margin-right: 8.6px;
                    }
                }

                .number {
                    font-size: 20px;
                    font-weight: 300;
                    letter-spacing: 0.9px;
                    color: #393c5a;
                }
            }
        }

        .small-carousel {
            width: 100%;
            background: black;
            height: 200px;

            .owl-next,
            .owl-prev {
                background: transparent !important;
            }

            #owl-hero-smaller {
                height: inherit;

                .owl-stage-outer {
                    height: inherit;

                    .owl-stage {
                        height: inherit;

                        .owl-item {
                            height: inherit;
                        }
                    }
                }

                .owl-dots {
                    display: none;
                }

                .owl-nav {
                    display: flex;
                    margin: auto;
                    top: 40%;
                    flex-direction: row;
                    position: absolute;
                    justify-content: space-between;
                    align-items: stretch;
                    width: 100%;
                }

                .item {
                    height: inherit;
                }
            }
        }

        .giant-carousel {
            width: 100%;
            background: black;
            height: 600px;
            margin-bottom: 23px;

            .owl-next,
            .owl-prev {
                background: transparent !important;
            }

            #owl-hero-bigger {
                margin-bottom: 10px;
                height: inherit;

                .owl-stage-outer {
                    height: inherit;

                    .owl-stage {
                        height: inherit;

                        .owl-item {
                            height: inherit;
                        }
                    }
                }

                .owl-dots {
                    display: none;
                }

                .owl-nav {
                    display: flex;
                    margin: auto;
                    top: 40%;
                    flex-direction: row;
                    position: absolute;
                    justify-content: space-between;
                    align-items: stretch;
                    width: 100%;
                }

                .item {
                    height: inherit;
                }
            }
        }
    }

    .profile-column {
        padding: 5% 2% 1% 3%;
        background-color: #e7e9f2;
        .package{
          font-size: 20px;
font-weight: 600;
letter-spacing: 0.9px;
color: #393c5a;
        }

        .dropdown-toggle {
            padding-top: 17px;
            font-size: 20px;
 font-weight: 500;
 letter-spacing: 0.9px;
 color: #393c5a;
 text-align: start;
padding-left: 23px;
        }

        .container-collapse {
            .clock {
                margin-top: 30.5px;
                font-size: 13px;
                letter-spacing: 0.6px;
                color: #393c5a;
            }
            hr{
                  margin: 0 0 0 9%;
            }
            .info-padding{
                padding: 0% 9% 0% 9%;
            }

            .info {
                margin-top: 31px;
                font-size: 15px;
                font-weight: 500;
                letter-spacing: 0.7px;
                color: #393c5a;
                text-align: left;
            }

            .info-des {
                margin-top: 12px;
                margin-bottom: 21px;
                font-size: 13px;
                letter-spacing: 0.6px;
                color: #393c5a;
                text-align: left;

                i {
                    margin-right: 10px;
                }
            }

            button {
                border-radius: 4px;
                background-color: #f07cb1;
                font-size: 15px;
                font-weight: 500;
                letter-spacing: 0.7px;
                color: #ffffff;
                width: 100%;
            }

            .compare {
                text-align: center;
                font-size: 13px;
                letter-spacing: 0.6px;
                color: #7d87ff;
                margin-top: 28px;
            }
        }

        .profile {
            padding-top: 63px;
            padding-bottom: 32px;
        }

        .profile-image {
            margin-top: 37px;
            border-radius: 300px;
        }

        .name {
            padding-top: 17px;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 0.9px;
            color: #393c5a;
        }

        .level {
            font-size: 13px;
            letter-spacing: 0.6px;
            color: #7a829a;
        }

        hr {
            border: solid 1px #e6e6e6;
            width: 80%;
        }

        .skills {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 22px 75px 34px 42px;
            text-align: start;

            .skillhead {
                font-size: 13px;
                letter-spacing: 0.6px;
                color: #b9b9b9;
            }

            .skillvalue {
                font-size: 13px;
                letter-spacing: 0.6px;
                color: #35436d;
            }
        }

        .aboutseller {
            font-size: 13px;
            line-height: 2.15;
            letter-spacing: 0.6px;
            color: #35436d;
            padding: 34px;
            text-align: start;
        }

        .button {
            width: 200px;
            height: 50px;
            border-radius: 4px;
            background-color: #f07cb1;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 0.7px;
            color: #ffffff;
            margin-left: 31%;
            margin-bottom: 42px;
            margin-top: 48px;
            border: 0;
        }
    }
}
.forgot{
  font-size: 16px;
letter-spacing: 1px;
color: #7d87ff;
text-align: right;
padding:10px;
}
.alignCenter{
  text-align: center;
  padding:11px;
}
.alignRight{
  text-align: right;
}
.navbar-toggler{
  background-color: white !important;
border-radius: 25px;
}
.flex-box-or{
  display: flex;
  flex-direction: row;
  margin-top: 14px;
  margin-bottom: 24px;
  p{
    flex-grow: 1;
    font-size: 28px;
font-weight: 500;
letter-spacing: 1.2px;
color: rgba(122, 130, 154, 0.76);
text-align: center;}


  hr{
        margin-top: 24px;
    flex-grow:3;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
    .caraousel{
      height: 347px !important;
    }
    .navbar-brand{
      width: 100%;
    }
    .cool{
      margin-top: 20px;
    }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
    .caraousel{
      height: 192px !important;
    }
}
@media screen and (max-width: 991px) and (min-width: 767px) {
    .caraousel{
      height: 276px !important;
    }
    .navbar-brand{
      width: 100%;
    }
    .cool{
      margin-top: 20px;
    }
}
@media screen and (max-width: 480px) {
    .caraousel{
      height: 290px !important;
    }
    .navbar-brand{
      width: 100%;
    }
    .cool{
      margin-top: 20px;
    }

}
